.button {
  background-color: #b41010;
  color: white;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.1s ease-in-out;

  &:active {
    transform: scale(0.95);
  }

  &:hover {
    background-color: #c41717;
  }
}
